<html>
<head>
	<title>@ViewData["tittle"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	
	<link href="~/css/AuthStyle.css" rel="stylesheet" />
</head>
<body>
	<!-- main -->
	@RenderBody()
	<!-- //main -->

	<script src="~/lib/jquery/dist/jquery.min.js" ></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" ></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" ></script>
</body>
</html>